.separator {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  opacity: 50%;
  background-image: linear-gradient(to right bottom, #212529, transparent);
  height: 3px;
  border: 0; }

.tx-col-white {
  color: #fafafa; }

.uni-marg-top-10rem {
  margin-top: 10rem; }

.uni-marg-top-7rem {
  margin-top: 7rem; }

.uni-marg-top-5rem {
  margin-top: 5rem; }

.uni-marg-top-3rem {
  margin-top: 3rem; }

.uni-marg-bot-10rem {
  margin-bottom: 10rem; }

.uni-marg-bot-7rem {
  margin-bottom: 7rem; }

.uni-marg-bot-5rem {
  margin-bottom: 5rem; }

.uni-marg-bot-3rem {
  margin-bottom: 3rem; }

.uni-marg-bot-1rem {
  margin-bottom: 1rem; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato' , 'sans-serif';
  font-weight: 400;
  line-height: 1.6;
  background-color: #fafafafa;
  min-height: 100vh; }

.btn {
  text-decoration: none;
  color: inherit; }
  .btn--ab {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: #f8fafc;
    color: #412fbf;
    margin: 3rem;
    border-radius: 1rem;
    transition: scale .2s ease-in-out; }
    .btn--ab:hover {
      scale: 1.1; }

.nav-btn {
  font-size: 1.7rem;
  font-weight: 500;
  transition: color .2s ease-in-out;
  position: relative; }
  .nav-btn--roll::before {
    content: '';
    position: absolute;
    z-index: 1000;
    width: 170%;
    height: 6rem;
    opacity: 0; }
  .nav-btn:hover {
    color: #412fbf; }
  .nav-btn:last-child {
    padding: 0 2rem; }
  .nav-btn--more {
    position: relative; }
    .nav-btn--more::after {
      content: '';
      position: absolute;
      width: 2.2rem;
      height: 2.2rem;
      background-image: url("../img/icon/arrow_drop_down.png");
      background-size: cover; }
  .nav-btn--roll:hover > .submenu {
    display: flex;
    opacity: 1; }

.btn-acc {
  background-color: #4834d4;
  color: #fafafa;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  font-weight: 400;
  box-shadow: 0px 5px 10px rgba(33, 37, 41, 0.2);
  transition: scale .2s ease-in-out; }
  .btn-acc:hover {
    scale: 1.1; }

.btn--white {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: #f8fafc;
  color: #412fbf;
  margin-top: 2rem;
  border-radius: 1rem;
  transition: scale .2s ease-in-out;
  display: inline-block; }
  .btn--white:hover {
    scale: 1.1; }

.txt--h1 {
  font-size: 4rem; }
  .txt--h1--desc {
    font-size: 3.5rem;
    font-weight: 500;
    color: #282828;
    text-wrap: balance; }

.txt--h2 {
  font-size: 3rem; }
  .txt--h2--desc {
    font-size: 1.7rem;
    font-weight: 300;
    padding: 1rem 0;
    color: #282828;
    text-align: left;
    text-wrap: balance; }

.txt--h3 {
  font-size: 2rem;
  text-align: center; }

@media only screen and (max-width: 37.5em) {
  .txt--h1 {
    font-size: 3rem; }
    .txt--h1--desc {
      font-size: 2.5rem;
      font-weight: 500;
      color: #282828;
      text-wrap: balance; }
  .txt--h2 {
    font-size: 2.2rem; }
    .txt--h2--desc {
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1rem 0;
      color: #282828;
      text-align: left;
      text-wrap: balance; }
  .txt--h3 {
    font-size: 2rem;
    text-align: center; } }

.text__big {
  font-size: 3.5rem;
  font-weight: 500; }

.text__big-mid {
  font-size: 3rem;
  font-weight: 500; }

.text__mid {
  font-size: 2rem;
  font-weight: 400; }

.text__small {
  font-size: 1.5rem;
  font-weight: 300; }

@media only screen and (max-width: 37.5em) {
  .text__big {
    font-size: 2.5rem;
    font-weight: 500; }
  .text__big-mid {
    font-size: 2rem;
    font-weight: 500; }
  .text__mid {
    font-size: 1.7rem;
    font-weight: 400; }
  .text__small {
    font-size: 1rem;
    font-weight: 300; } }

.txt__footer--tit {
  color: #fafafa;
  font-size: 2.7rem; }

.txt__footer--redirect {
  color: #fafafa;
  opacity: .8;
  font-size: 1.8rem;
  position: relative; }
  .txt__footer--redirect::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fafafa;
    scale: 0% 0%;
    transition: scale .2s ease-in-out; }
  .txt__footer--redirect:hover::before {
    scale: 100% 100%; }

@media only screen and (max-width: 37.5em) {
  .txt__footer--tit {
    font-size: 2rem; }
  .txt__footer--redirect {
    font-size: 1.3rem; } }

.nav__txt--big {
  font-size: 1.7rem;
  font-weight: 500;
  color: #282828; }

.nav__txt--small {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: .7;
  color: #282828; }

.nav {
  width: 100%;
  padding: 2rem 10rem 2rem;
  background-color: #fafafa;
  box-shadow: 0px 3px 10px rgba(33, 37, 41, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100; }
  @media only screen and (max-width: 59.75em) {
    .nav {
      padding: 2rem 5rem 2rem; } }
  .nav__comp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
  .nav__logo {
    width: 20rem;
    padding: 0rem 2rem;
    transform: translateY(0.5rem); }
    .nav__logo--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .nav__navigation {
    padding: 1rem 5rem;
    display: flex;
    gap: 5rem; }
    @media only screen and (max-width: 80.8em) {
      .nav__navigation {
        display: none; } }
  .nav__account {
    padding: 0 2rem;
    display: flex;
    font-size: 1.6rem;
    gap: 3rem;
    align-items: center; }
    .nav__account > .menu__box {
      display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__account > .menu__box {
        display: flex; }
      .nav__account > a {
        display: none; } }
    .nav__account > a:first-child {
      position: relative; }
      .nav__account > a:first-child::before {
        opacity: .8;
        content: '';
        left: 0;
        transform: translateX(-3rem) translateY(0.2rem);
        position: absolute;
        width: 2.2rem;
        height: 2.2rem;
        background-image: url("../img/icon/login.png");
        background-size: cover; }

.submenu {
  display: none;
  min-width: 40rem;
  transform: translateX(-5rem);
  margin-top: 3rem;
  background-color: #fdfdfd;
  box-shadow: 0px 2px 10px rgba(33, 37, 41, 0.1);
  z-index: 999;
  position: absolute;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  padding: 2rem 6rem 3rem 6rem;
  flex-direction: column;
  border-radius: 1rem; }
  .submenu__el {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem; }
    .submenu__el:hover {
      background-color: #e6eaec; }
    .submenu__el--img {
      width: 2.7rem;
      height: 2.7rem; }
    .submenu__el--text {
      display: flex;
      flex-direction: column; }

.submenu:hover {
  display: block; }

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 7rem 10rem; }
  .header__about {
    width: 70vw;
    min-height: 60vh;
    overflow: hidden;
    border-radius: 3rem;
    background-image: linear-gradient(to bottom right, #4834d4, #412fbf, #4834d4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fafafa; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 7rem 2rem; }
      .header__about {
        width: 80vw; } }

.short-desc {
  width: 100%;
  padding: 0rem 10vw; }
  @media only screen and (max-width: 66.875em) {
    .short-desc {
      padding: 0rem 5vw; } }
  @media only screen and (max-width: 37.5em) {
    .short-desc {
      padding: 0rem 1rem; } }
  .short-desc__box {
    display: flex;
    align-items: center;
    gap: 10vw;
    position: relative;
    margin-top: 15rem; }
    @media only screen and (max-width: 59.75em) {
      .short-desc__box {
        flex-direction: column; }
        .short-desc__box--text {
          width: 100%; }
        .short-desc__box--img {
          width: 100%;
          position: relative; } }
    .short-desc__box--text {
      width: 50%; }
    .short-desc__box--img {
      width: 50%;
      position: relative; }
    @media only screen and (max-width: 66.875em) {
      .short-desc__box {
        justify-content: center;
        padding: 0rem 5rem; } }
    @media only screen and (max-width: 59.75em) {
      .short-desc__box {
        flex-direction: column; }
        .short-desc__box--text {
          width: 100%; }
        .short-desc__box--img {
          width: 100%;
          position: relative;
          order: -1; } }
  .short-desc__box-reversed {
    display: flex;
    flex-direction: row-reverse;
    gap: 10vw;
    padding: 10rem 5rem;
    align-items: center; }
    .short-desc__box-reversed--text {
      width: 50%; }
    .short-desc__box-reversed--img-box {
      width: 50%;
      position: relative; }
    @media only screen and (max-width: 59.75em) {
      .short-desc__box-reversed {
        flex-direction: column; }
        .short-desc__box-reversed--text {
          width: 100%; }
        .short-desc__box-reversed--img-box {
          width: 100%;
          position: relative;
          order: -1; } }

.desc-img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-radius: 2rem; }

.coop {
  width: 100%;
  min-height: 20vh;
  padding: 7rem 0rem;
  background-color: #412fbf;
  background-image: linear-gradient(to bottom, #3a2aaa, #4834d4);
  text-align: center;
  color: #fafafa;
  position: relative; }
  .coop > h1 {
    line-height: 1.3; }
  .coop > h3 {
    margin-top: 1rem; }

.tech {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding: 0rem 0rem 15rem 0rem; }
  .tech__icons {
    padding: rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem; }
    .tech__icons--icon {
      box-sizing: content-box;
      width: 5.5rem;
      padding: 1.5rem 4.5rem;
      box-shadow: 0px 2px 10px rgba(33, 37, 41, 0.1);
      transition: scale .2s ease-in-out, box-shadow .2s ease-in-out; }
      .tech__icons--icon:hover {
        scale: 1.1;
        box-shadow: 0px 2px 20px rgba(33, 37, 41, 0.1); }

.footer {
  width: 100%;
  padding: 10rem 10rem 3rem 10rem;
  background-color: #4834d4;
  box-shadow: 0px -1px 10px rgba(33, 37, 41, 0.1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 59.75em) {
    .footer {
      padding: 10rem 2rem 3rem 2rem; } }
  .footer__box {
    padding: 2rem 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    .footer__box > a {
      margin: 0.7rem 0rem; }
    .footer__box--logo {
      padding: 0 4rem; }
      @media only screen and (max-width: 66.875em) {
        .footer__box--logo {
          display: flex;
          align-items: flex-start;
          width: 100%;
          display: grid;
          place-items: center; } }
  .footer__logo-box {
    min-width: 10rem; }
  .footer__logo {
    width: 20vw; }
    @media only screen and (max-width: 66.875em) {
      .footer__logo {
        width: 20vh; } }
