html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato' , 'sans-serif';
  font-weight: 400;
  line-height: 1.6;
  background-color: #f1f5f9;
  min-height: 100vh; }

.btn {
  text-decoration: none;
  color: inherit; }
  .btn--ab {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: #f8fafc;
    color: #412fbf;
    margin: 3rem;
    border-radius: 1rem;
    transition: scale .2s ease-in-out; }
    .btn--ab:hover {
      scale: 1.1; }

.nav-btn {
  font-size: 1.7rem;
  font-weight: 500;
  transition: color .2s ease-in-out; }
  .nav-btn:hover {
    color: #412fbf; }
  .nav-btn:last-child {
    padding: 0 2rem; }
  .nav-btn--more {
    position: relative; }
    .nav-btn--more::after {
      content: '';
      position: absolute;
      width: 2.2rem;
      height: 2.2rem;
      background-image: url("../img/icon/arrow_drop_down.png");
      background-size: cover; }

.btn-acc {
  background-color: #4834d4;
  color: #fafafa;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  font-weight: 400;
  box-shadow: 0px 5px 10px rgba(33, 37, 41, 0.2);
  transition: scale .2s ease-in-out; }
  .btn-acc:hover {
    scale: 1.1; }

.txt--h1 {
  font-size: 4rem; }
  .txt--h1--desc {
    font-size: 3rem;
    font-weight: 500; }

.txt--h2 {
  font-size: 3rem; }
  .txt--h2--desc {
    font-size: 1.7rem;
    font-weight: 300;
    padding: 1rem 0;
    color: #343a40; }

.txt--h3 {
  font-size: 2rem;
  text-align: center; }

.nav {
  width: 100%;
  padding: 2rem 10rem;
  background-color: #fafafa;
  box-shadow: 0px 3px 10px rgba(33, 37, 41, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .nav__comp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
  .nav__logo {
    width: 20rem;
    padding: 0rem 2rem;
    transform: translateY(0.5rem); }
    .nav__logo--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .nav__navigation {
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    gap: 5rem; }
  .nav__account {
    padding: 0 2rem;
    display: flex;
    font-size: 1.6rem;
    gap: 3rem;
    align-items: center; }

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 10rem; }
  .header__about {
    width: 80vw;
    min-height: 50vh;
    overflow: hidden;
    border-radius: 2rem;
    background-image: linear-gradient(to bottom right, #4834d4, #686de0, #4834d4);
    display: flex;
    padding: 10rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #fafafa; }

.short-desc {
  width: 100%;
  padding: 10rem 20rem; }
  .short-desc__desc {
    display: flex;
    justify-content: space-between; }
    .short-desc__desc--text {
      width: 45%; }
    .short-desc__desc--img {
      width: 45%;
      position: relative; }
      .short-desc__desc--img .desc-img {
        width: 100%;
        box-shadow: 0px 3px 10px rgba(33, 37, 41, 0.5);
        border-radius: 2rem;
        overflow: hidden; }
  .short-desc .desc-img {
    width: 50rem; }
