

$col-main-blue: #4834d4;
$col-main-blue-2: #412fbf;
$col-main-blue-3: #3a2aaa;

$col-main-lightblue: #686de0;

$col-white-0: #fafafa;
$col-white-1: #f8fafc;
$col-white-2: #f1f5f9;
$col-white-3: #fdfdfd;

$col-gray-1: #212529;
$col-gray-2: #343a40;
$col-gray-3: #495057;
$col-gray-4: #868e96;
$col-gray-5: #e6eaec;

$default-font-size: 1.6rem;