.btn{
    text-decoration: none;
    color: inherit;


    &--ab{
        font-size: $default-font-size;
        padding: 1rem 2rem;
        background-color: $col-white-1;
        color: $col-main-blue-2;
        margin: 3rem;
        border-radius: 1rem;
        transition: scale .2s ease-in-out;

        &:hover{
            scale: 1.1;
        }
    }
}
.nav-btn{
    font-size: 1.7rem;
    font-weight: 500;
    transition: color .2s ease-in-out;

    &:hover{
        color: $col-main-blue-2;
    }

    &:last-child{
        padding: 0 2rem;
    }

    &--more{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 2.2rem;
            height: 2.2rem;
            background-image: url('../img/icon/arrow_drop_down.png');
            background-size: cover;
        }
    }
   
}
.btn-acc{
    background-color: $col-main-blue;
    color: $col-white-0;
    border-radius: 1rem;
    padding: 1.2rem 2rem;
    font-weight: 400;
    box-shadow: 0px 5px 10px rgba($col-gray-1,.2);
    transition: scale .2s ease-in-out;
    &:hover{
        scale: 1.1;
    }
    
}
.btn--white{
        font-size: $default-font-size;
        padding: 1rem 2rem;
        background-color: $col-white-1;
        color: $col-main-blue-2;
        margin-top: 2rem;
        border-radius: 1rem;
        transition: scale .2s ease-in-out;
        display: inline-block;

        &:hover{
            scale: 1.1;
        }
}
