.txt{
    &--h1{
        font-size: 4rem;
        &--desc{
            font-size: 3.5rem;
            font-weight: 500;
            color: $col-gray-6;
            text-wrap: balance;
        }
    }
    &--h2{
        font-size: 3rem;
        
        &--desc{
            font-size: 1.7rem;
            font-weight: 300;
            padding: 1rem 0;
            color: $col-gray-6;
            text-align: left;
            text-wrap: balance;
            
        }
    }
    &--h3{
        font-size: 2rem;
        text-align: center;
    }
    @include RWD(tab-port){
        &--h1{
            font-size: 3rem;
            &--desc{
                font-size: 2.5rem;
                font-weight: 500;
                color: $col-gray-6;
                text-wrap: balance;
            }
        }
        &--h2{
            font-size: 2.2rem;
            
            &--desc{
                font-size: 1.5rem;
                font-weight: 300;
                padding: 1rem 0;
                color: $col-gray-6;
                text-align: left;
                text-wrap: balance;
                
            }
        }
        &--h3{
            font-size: 1.5rem;
            text-align: center;
        }
    }
}
.text{
    &__big{
        font-size: 3.5rem;
        font-weight: 500;
        
    }
    &__big-mid{
        font-size: 3rem;
        font-weight: 500;
        
    }
    &__mid{
        font-size: 2rem;
        font-weight: 400;
    }
    &__small{
        font-size: 1.5rem;
        font-weight: 300;
    }
    @include RWD(phone){
        &__big{
            font-size: 2.5rem;
            font-weight: 500;
            width: 100%;
            padding: 0 5rem;
            
        }
        &__big-mid{
            font-size: 2rem;
            font-weight: 500;
            
        }
        &__mid{
            font-size: 1.7rem;
            font-weight: 400;
        }
        &__small{
            font-size: 1rem;
            font-weight: 300;
        }
    }

}
.txt__footer{
    
    &--tit{
        color: $col-white-0;
        font-size: 2.7rem;
    }
    &--redirect{
        color: $col-white-0;
        opacity: .8;
        font-size: 1.8rem;
        position: relative;

        &::before{
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $col-white-0;
            scale: 0% 0%;
            transition: scale .2s ease-in-out;
        }

        &:hover{
            &::before{
                scale: 100% 100%;

            }
        }
    }
    @include RWD(phone){
        &--tit{
            font-size: 2rem;
        }
        &--redirect{
            font-size: 1.3rem;
        }
    }

}
.nav__txt{
    &--big{
        font-size: 1.7rem;
        font-weight: 500;
        color: $col-gray-6;
    }
    &--small{
        font-size: 1.4rem;
        font-weight: 400;
        opacity: .7;
        color: $col-gray-6;

    }
}
