.txt{
    &--h1{
        font-size: 4rem;
        &--desc{
            font-size: 3.5rem;
            font-weight: 500;
        }
    }
    &--h2{
        font-size: 3rem;

        &--desc{
            font-size: 1.7rem;
            font-weight: 300;
            padding: 1rem 0;
            color: $col-gray-2;
            text-align: left;
        }
    }
    &--h3{
        font-size: 2rem;
        text-align: center;
    }
}
.text{
    &__big{
        font-size: 3.5rem;
        font-weight: 500;
        
    }
    &__big-mid{
        font-size: 3rem;
        font-weight: 500;
        
    }
    &__mid{
        font-size: 2rem;
        font-weight: 400;
    }
    &__small{
        font-size: 1.5rem;
        font-weight: 300;
    }

}
.txt__footer{
    
    &--tit{
        color: $col-white-0;
        font-size: 2.7rem;
    }
    &--redirect{
        color: $col-white-0;
        opacity: .8;
        font-size: 1.8rem;
    }

}
.nav__txt{
    &--big{
        font-size: 1.7rem;
        font-weight: 500;
    }
    &--small{
        font-size: 1.4rem;
        font-weight: 400;
        opacity: .7;
    }
}
