.coop{
    width: 100%;
    min-height: 20vh;
    padding: 7rem 0rem;
    background-color: $col-main-blue-2;
    background-image: linear-gradient(to bottom, $col-main-blue-3, $col-main-blue);
    text-align: center;
    color: $col-white-0;
    position: relative;


    & > h1{
            line-height: 1.3;
    }
    & > h3{
        margin-top: 1rem;
    }
}
