.footer{
    width: 100%;
    padding: 10rem 10rem;
    background-color: $col-main-blue;
    box-shadow: 0px -1px 10px rgba($col-gray-1,.1);
    display: flex;
    flex-wrap: wrap;

    @include RWD(tab-port){
        padding: 10rem 2rem;
    }

    &__box{
        padding: 2rem 7rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        & > a {
            margin: 0.7rem 0rem;            
        }
        &--logo{
            display: flex;
            align-items: flex-start;
            width: 20vw;
            
        }
    }
    &__logo-box{
        min-width: 10rem;
    }
    &__logo{
        width: 25vw;
    }
}
