.short-desc {
    width: 100%;
    padding: 0rem 20rem;

    // @include RWD(small-desktop){
    //     padding: 0rem 15rem;
    // }

    // @include RWD(tab-){
    //     padding: 0rem 5rem;
    // }
    // @include RWD(tab-mid) {
    //     padding: 0rem 5rem;
    // }

    &__box {
        display: flex;
        align-items: center;
        gap: 10vw;
        position: relative;

        @include RWD(tab-mid) {
            justify-content: center;
        }

        &:last-child {
            gap: 10vw;
            margin: 15rem 0;
            justify-content: space-between;
            justify-content: center;
        }

        &--text {
            width: 50%;
        }

        &--img {
            width: 50%;
            position: relative;
        }
        
    }

    &__box-reversed {
        display: flex;
        flex-direction: row-reverse;
        gap: 10vw;
        padding: 10rem 5rem;
        align-items: center;

        &--text{
            width: 50%;

        }
        &--img-box{
            width: 50%;
            position: relative;

         & > .desc-img{
            width: 100%;
         }
        }
     
    }

}
.desc-img {
    min-width: 15rem;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem;
}